
   body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    border: 4px solid #27ae60;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #27ae60;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #27ae60;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #219653;
}
